* {
  margin: 0;
  padding: 0;
  list-style: none;
}
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&display=swap");
main {
  width: 100%;
  height: 100vh;
  background-color: #f7f7f7;
  font-family: "Noto Sans TC", sans-serif;
}
.container {
  width: 100%;
}
/* header */
header {
  max-width: 1400px;
  padding: 23px;
  padding-bottom: 0;
  margin: 0 auto;
}
.header-wrap {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.item {
  padding: 8px;
  margin-left: 10px;
}
/* logo hero */
.hero-logo {
  max-width: 250px;
  padding: 5px 0;
  margin: 4px auto 40px;
}
/* search bar */
.search-bar {
  text-align: center;
}
.search-bar form {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 665px;
  margin: 0 auto;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 3px rgb(0 0 0 / 6%);
}
.search-bar input {
  width: 100%;
  padding: 15px 20px;
  border: none;
  font-size: 1em;
}
.search-bar button {
  padding: 0 10px;
  border: none;
  background-color: white;
}
/* intro hero */
.hero-intro {
  padding: 20px;
  margin: 30px 0 48px;
  text-align: center;
}
.hero-intro h1 {
  padding-bottom: 5px;
  font-weight: 700;
}
.hero-intro p {
  color: #666;
  line-height: 28px;
}
.hero-intro .btn {
  display: block;
  width: 235px;
  margin: 20px auto 0;
  line-height: 44px;
  font-size: 0.9em;
  font-weight: 700;
  color: white;
  border-radius: 10px;
  text-decoration: none;
  background-color: #678fff;
}
